<!doctype html>
{% load static %}
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Traversal | Контакты </title>
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- google fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style-liberty.css' %}">
  <!-- Template CSS -->
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
        <h1><a class="navbar-brand mr-lg-5" href="{% url 'index' %}">
            Traversal
          </a></h1>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Направления</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pricing' %}">Прайс лист</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Блог<span class="fa fa-angle-down"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="{% url 'blog' %}">Блоги</a>
                <a class="dropdown-item" href="{% url 'index' %}">Лэндинговая страница</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
            </li>

          </ul>
        </div>
        <div class="d-lg-block d-none">
          <a href="{% url 'contact' %}" class="btn btn-style btn-secondary">Связаться</a>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!-- //header -->
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-2">
        <h2 class="title">Контакты</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Контакты </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
  <div class="contact-infubd py-5">
    <div class="container py-lg-3">
      <div class="contact-grids row">
        <div class="col-lg-6 contact-left">
          <div class="partners">
            <div class="cont-details">
              <h5>Связаться</h5>
              <p class="mt-3 mb-4">Привет! Мы доступны круглосуточно и без выходных по факсу, электронной почте или по телефону. Напишите нам, чтобы мы могли поговорить об этом подробнее.</p>
            </div>
            <div class="hours">
              <h6 class="mt-4">Почта:</h6>
              <p> <a href="mailto:mail@traversal.com">
                mail@traversal.com</a></p>
              <h6 class="mt-4">Посетите нас:</h6>
              <p> г. Бишкек улица Абдрахманова 198/2</p>
              <h6 class="mt-4">Контакты:</h6>
              <p class="margin-top"><a href="tel:+996774 89 12 56">+996774 89 12 56</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
          <form action="{% url 'contact' %}" method="POST" class="signin-form">
              {% csrf_token %}
              <div class="input-grids">
                <div class="form-group">
                  <input type="text" name="name" id="w3lName" placeholder="Ваше имя*" class="contact-input" />
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="w3lSender" placeholder="Ваша почта*" class="contact-input" required="" />
                </div>
                <div class="form-group">
                  <input type="text" name="subject" id="w3lSubect" placeholder="Предмет обсуждения*" class="contact-input" />
                </div>
              </div>
              <div class="form-group">
                <textarea name="text" id="w3lMessage" placeholder="Напишите свое сообщение сюда*" required=""></textarea>
              </div>
              <div class="text-right">
                <button class="btn btn-style btn-primary">Отправить</button>
              </div>
          </form>
        </div>
      </div>
      <div class="map mt-5 pt-md-5">
        <h5>Map</h5>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d332.0428695521283!2d74.60923031552411!3d42.87932508115399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7c1ec50141d%3A0xe466c37c27e87045!2s198%20Yusup%20Abdrahmanov%20St%2C%20Bishkek%2C%20Kyrgyzstan!5e0!3m2!1sen!2sus!4v1660770605305!5m2!1sen!2sus"
          style="border:0" allowfullscreen=""></iframe>
        </div>


    </div>
</section>
<!-- /contact-form -->

  <!--/w3l-footer-29-main-->
  <footer>
    <!-- footer -->
    <section class="w3l-footer">
      <div class="w3l-footer-16-main py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 column">
              <div class="row">
                <div class="col-md-4 column">
                  <h3>Компания</h3>
                  <ul class="footer-gd-16">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'services' %}">Услуги</a></li>
                    <li><a href="{% url 'blog' %}">Блог</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Полезные ссылки</h3>
                  <ul class="footer-gd-16">
                    <li><a href="{% url 'services' %}">Направления</a></li>
                    <li><a href="#">Наши ветки</a></li>
                    <li><a href="#">Медиа</a></li>
                    <li><a href="{% url 'about' %}">О нашей компании</a></li>
                    <li><a href="{% url 'pricing' %}">Наш прайс лист</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Наши услуги</h3>
                  <ul class="footer-gd-16">
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Наша команда</a></li>
                    <li><a href="{% url 'services' %}">Услуги</a></li>
                    <li><a href="{% url 'landing-single' %}">Лендинговая страница</a></li>
                    <li><a href="#">Наши гайды</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
              <h3>Газета</h3>
              <div class="end-column">
                <h4>Получайте последние новости и предложения</h4>
                <form action="{% url 'sendemail' %}" class="subscribe" method="post">
                  {% csrf_token %}
                  <input type="email" name="email" placeholder="Почта" required="">
                  <button type="submit">Вперед</button>
                </form>
                <p>Подпишитесь на наши последние новости и статьи. Мы не будем рассылать вам спам</p>
              </div>
            </div>
          </div>
          <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
            <div class="columns text-lg-left text-center">
              <p>&copy; Все права защищены<a href="https://w3layouts.com/" target="_blank">

              </p>
            </div>
            <div class="columns-2 mt-lg-0 mt-3">
              <ul class="social">
                <li><a href="https://www.facebook.com/"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                </li>
                <li><a href="https://www.linkedin.com/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                </li>
                <li><a href="https://twitter.com/"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                </li>
                <li><a href="https://www.google.com/"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                </li>
                <li><a href="https://github.com/"><span class="fa fa-github" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- //move top -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
    </section>
    <!-- //footer -->
  </footer>
  <!-- Template JavaScript -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/theme-change.js' %}"></script>
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>